.deposit-container {
    width: 100%;
    padding: 40px;
}

.deposit-container label {
    width: 100%;
    display: block;
    font-size: 24px;
}

.deposit-container .deposit-group {
}

.deposit-group .form-group {
    width: 50vw;
}

.deposit-container .deposit-balance {
    font-size: 24px;
}

#depositResume {
    font-weight: bold;
}

.deposit-container .btn {
    font-weight: bold;
    transition: 0.2s background-color;
}

.deposit-container .btn:hover {
    background-color: #f55c17;
    transition: 0.2s background-color;
}

.deposit-container #cancel {
    color: #212529;
    background-color: #ffffff;
}

.deposit-container #cancel:hover {
    background-color: #212529;
    color: #ffffff;

}

/* ================ Estiliza modo de depósito: tela com dois botões ================= */

#deposit-mode {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deposit-title-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: fle    x-start;
}

.deposit-title-group hr {
    width: 100%;
    height: 1px;
}

.mode {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 32px;
}

.mode-options a {
    color: #f55c17;
    border: 1px solid #f55c17;
    background-color: #ffffff;
}

.mode-options a:first-child {
    margin-right: 16px;
}

.mode-options a:last-child {
    margin-left: 16px;
}

/* ================ Estilizando tela de resumo de depósito ================= */

.resume {
    width: 100%;
    flex-direction: column;
}

.container-resume {
    width: 80%;
    display: flex;
    border-radius: 10px;
    padding: 32px;
    border: 1px solid red;
}

.resume-group {
    width: 90%;
}

.resume-text-group {
    width: 60%;
    display: flex;
    justify-content: space-between;
    line-height: 1.5;
    padding: 12px 0;
}

.resume-text-group span {
    font-size: 24px;
}

#resumeValue {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.resume-value {
    margin-left: 32px;
}

.resume-success-group {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: 24px;
}

.resume-success {
    display: flex;
}

.success {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 26px;
}

.resume-ok-group {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
}

.resume-ok {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
    border-radius: 12px;
}   

.resume-ok svg path, 
.resume-ok svg circle {
    fill: #ffffff;
}

.resume-ok svg {
    width: 25px;
    height: 25px;
}

.resume-ok span {
    margin-left: 12px;
}


/* ================ Responsividade ================= */

@media (max-width: 1000px) {
    .deposit-container .deposit-group {
        width: 100%;
        flex-direction: column;
    }

    .deposit-group .form-control {
        width: 40vw;
    }

    .deposit-container input {
        width: 100%;
    }
}