.transfer-group {
    width: 70%;
    justify-content: space-between;
    line-height: 1;
}

.account-number {
    color: #f25f1d;
    font-size: 32px;
}

.resume-transfer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
}

#accountTo {
    font-size: 24px;
}