<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css" />

    <link rel="stylesheet" href="css/jquery-ui.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" />

    <link rel="stylesheet" href="css/jquery.fancybox.min.css" />

    <link rel="stylesheet" href="css/bootstrap-datepicker.css" />

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css" />

    <link rel="stylesheet" href="css/aos.css" />

    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/deposit.css" />
    <link rel="stylesheet" href="css/transfer.css" />

    <link rel="stylesheet" href="/css/transacoes.css" />

    <title>Transferência</title>
</head>

<body>
    <div class="myContainer">
        <!-- font-family: 'Alegreya Sans', sans-serif; -->
        <nav class="navbar navbar-expand-sm" id="navbar-container">
            <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="operations.html" id="firstNavLink">
                        <h1 class="mb-0 site-logo">
                            <a href="operations.html" class="h2 mb-0 text-white"
                              >Bank2Gama
                            </a>
                          </h1>
                    </a>
                </li>
                <li class="nav-item">
                    <h2 class="h2">
                        Transferência
                    </h2>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Perfil
                    </a>
                    <div class="dropdown-menu profile" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item dropdown-item-link" href="profile.html">
                            <svg width="28" height="28" viewBox="0 0 28 28" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M23.0312 23.7845C23.6208 23.6617 23.972 23.0453 23.6867 22.5149C22.9833 21.2072 21.8508 20.0582 20.3921 19.1876C18.5584 18.0932 16.3115 17.5 14.0001 17.5C11.6887 17.5 9.4419 18.0932 7.60814 19.1876C6.14944 20.0582 5.01696 21.2072 4.3136 22.5149C4.0283 23.0453 4.37944 23.6617 4.96905 23.7845L5.83927 23.9659C11.222 25.0877 16.7782 25.0877 22.161 23.9659L23.0312 23.7845Z"
                                    fill="#161616" />
                                <ellipse cx="13.9998" cy="9.33333" rx="5.83333" ry="5.83333" fill="#0F0E0E" />
                            </svg>

                            <span>Meu perfil</span>
                        </a>
                        <a class="dropdown-item dropdown-item-link" href="#" onclick="logout()">
                            <svg class="icon-profile" width="16" height="16" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M10 12.5C10 12.7761 9.77614 13 9.5 13L1.5 13C1.22386 13 1 12.7761 1 12.5L1 3.5C1 3.22386 1.22386 3 1.5 3L9.5 3C9.77614 3 10 3.22386 10 3.5L10 5.5C10 5.77614 10.2239 6 10.5 6C10.7761 6 11 5.77614 11 5.5L11 3.5C11 2.67157 10.3284 2 9.5 2L1.5 2C0.671574 2 4.95181e-07 2.67157 4.5897e-07 3.5L6.55671e-08 12.5C2.93554e-08 13.3284 0.671573 14 1.5 14L9.5 14C10.3284 14 11 13.3284 11 12.5L11 10.5C11 10.2239 10.7761 10 10.5 10C10.2239 10 10 10.2239 10 10.5L10 12.5Z"
                                    fill="black" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M15.8536 8.35355C16.0488 8.15829 16.0488 7.84171 15.8536 7.64645L12.8536 4.64645C12.6583 4.45118 12.3417 4.45118 12.1464 4.64645C11.9512 4.84171 11.9512 5.15829 12.1464 5.35355L14.2929 7.5L5.5 7.5C5.22386 7.5 5 7.72386 5 8C5 8.27614 5.22386 8.5 5.5 8.5L14.2929 8.5L12.1464 10.6464C11.9512 10.8417 11.9512 11.1583 12.1464 11.3536C12.3417 11.5488 12.6583 11.5488 12.8536 11.3536L15.8536 8.35355Z"
                                    fill="black" />
                            </svg>
                            <span>Sair</span>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>

        <main class="main" id="profileMain">
            <div class="side-bar_menu navbar-collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="operations.html" class="list-group-item-link">
                            <img src="images/icon-acoount.svg" alt="">
                            <span class="list-group-item-text">Minha Conta</span>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="transacoes.html" class="list-group-item-link">
                            <img src="images/icon-loan.svg" alt="">
                            <span class="list-group-item-text">Extrato</span>
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a href="deposit.html" class="list-group-item-link">
                            <img src="images/icon-deposit.svg" alt="">
                            <span class="list-group-item-text">Depósito</span>
                        </a>
                    </li>
                    <li class="list-group-item link-destaque">
                        <a href="#" class="list-group-item-link">
                            <img src="images/icon-transfer.svg" alt="">
                            <span class="list-group-item-text">Transferência</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="deposit-container">
                <form v-if="transferCompleted">
                    <div class="resume-transfer">
                        <span class="deposit-balance" id="depositResume">Resumo do transferência</span>
                        <span id="accountTo">Conta do recebedor: <strong>10140715</strong></span>
                    </div>
                    <div class="form-row resume">
                        <div class="container-resume">
                            <div class="resume-group">
                                <div class="resume-wrapper">
                                    <div class="resume-text-group">
                                        <span>Valor anterior: </span>
                                        <span class="resume-value">{{result.balance}}</span>
                                    </div>
                                </div>
                                <div class="resume-text-group" id="resumeValue">
                                    <span>Valor de transferência: </span>
                                    <span>{{ transfer.value }}</span>
                                </div>
                                <div class="resume-text-group">
                                    <span>Valor total: </span>
                                    <span>{{result.newBalance}}</span>
                                </div>
                            </div>
                            <div class="resume-success-group">
                                <div class="resume-success">
                                    <svg width="62" height="62" viewBox="0 0 62 62" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="31" cy="31" r="29.25" stroke="#F25F1D" stroke-width="2" />
                                        <path d="M18 31L27.75 40.75L44 21.25" stroke="#F25F1D" stroke-width="2" />
                                    </svg>
                                    <span class="success">Feito!</span>
                                </div>

                            </div>
                        </div>
                        <div class="resume-ok-group">
                            <div class="resume-ok-button">
                                <a href="operations.html" class="btn btn-primary resume-ok">
                                    <svg width="62" height="62" viewBox="0 0 62 62" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="31" cy="31" r="29.25" stroke="#F25F1D" stroke-width="2" />
                                    <path d="M18 31L27.75 40.75L44 21.25" stroke="#F25F1D" stroke-width="2" />
                                </svg>
                                <span>OK</span>
                            </a>
                        </div>
                        </div>
                    </div>
                </form>
                <form v-else>
                    <div>
                        <h2>Pix</h2>
                        <hr class="my-3">
                    </div>
                    <div class="form-row transfer-group">
                        <div class="form-group col-md-2">
                            <label for="accountNumber">Nº da conta:</label>
                            <span class="account-number" id="accountNumber">6231415</span>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="keyType">Tipo de chave</label>
                            <select class="form-control form-control-lg" id="keyType">
                                <option value="">Selecione</option>
                                <option value="cpfOrCnpj">CPF ou CNPJ</option>
                                <option value="email">E-mail</option>
                              </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPix">Chave Pix</label>
                            <input type="text" v-model="transfer.dest" class="form-control" id="inputPix" placeholder="Digite a chave">
                        </div>
                    </div>
                    <div>
                        <span class="deposit-balance">Saldo disponível: <strong>19,200.00</strong></span>
                    </div>
                    <hr class="my-3">
                    <div class="form-row" class="container-balance">
                        <div class="form-group col-md-">
                            <label for="inputAmmount">Valor da transferência:</label>
                            <input type="number" v-model="transfer.value" class="form-control input-value" id="inputAmmount"
                            placeholder="Informe o valor">
                        </div>
                    </div>
                    <a href="#" class="btn btn-primary" id="transferLink" @click.prevent="doTransfer()">Transferir</a>
                    <a href="operations.html" class="btn btn-primary" id="transferCancel">Cancelar</a>
                </form>
            </div>
        </main>
    </div>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.10/vue.min.js" integrity="sha512-H8u5mlZT1FD7MRlnUsODppkKyk+VEiCmncej8yZW1k/wUT90OQon0F9DSf/2Qh+7L/5UHd+xTLrMszjHEZc2BA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/vuejs/transfer.js"></script>
    <script src="/js/logout.js"></script>
</body>

</html>